<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {%  set codex = 'https://cdn.jsdelivr.net/npm/codex.editor.header@2.0.4'  %}
        {% endblock %}
    </body>
</html>
